<div class="dashboard">
  <div class="container">
    <h3>Exercises</h3>
    <div class="row">
      <% @languages.each_with_index do |language, index| %>
      <%= link_to language, class: "language-link" do %>
      <% class_name = "col-md-5 col-sm-12 card lang-card" %>
      <% class_name += " col-md-offset-2" unless index % 2 == 0 %>
      <div class="<%= class_name %>">
        <%= image_tag(language.icon, class: "lang-icons") %>
        <div class="card-block">
          <p class="language-name"><%= language.name %></p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <hr/>
    <div class="playgrounds-wrapper">
      <%= render 'shared/playground_work_spaces' %>
    </div>
  </div>
</div>
