<div class="text-center"> <h2>Dashboard</h2></div>
<div class="container">
  <div class="row">
  <div><h3>Exercises</h3></div>
    <% @languages.each_with_index do |language, index| %>
    <%= link_to language, class: "language-link" do %>
    <% class_name = "col-md-5 col-sm-12 card lang-card" %>
    <% class_name += " col-md-offset-2" unless index % 2 == 0 %>
    <div class="<%= class_name %>">
      <%= image_tag(language.icon, class: "lang-icons") %>
      <div class="card-block">
        <p class="language-name"><%= language.name %></p>
        <p class="exercise-count"><%= pluralize(language.exercises.count, "Exercise") %></p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<div class="spaced">
  <h3>Playgrounds</h3>
</div>

<%= render 'shared/playground_work_spaces' %>

<div class="push-footer">
</div>
