
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <p><%= @comments.count %> comments</p>
      </div>
      <div class="submission comments-list">
      <% @comments.each do |comment| %>
       <div class="media">
         <p class="pull-right"><small><%= time_ago_in_words(comment.created_at) %> ago</small></p>
         <a class="media-left" href="#">
          <%= gravatar_for(comment.user)%>
        </a>
        <div class="media-body">

          <h4 class="media-heading user_name"> <%=comment.user.email%></h4>
          <%= sanitize markdown_to_html( comment.content) %>
        </div>
      </div>
      <% end %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/comment_form' %>
    </div>
  </div>
</div>



</div>
</div>
</div>
