<div class="navbar-wagon">
  <!-- Logo -->
  <div class="company-name">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo-white.png" %>
      <span class="company-name2">Code Buddies</span>
    <% end %>

  </div>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <div class="navbar-user-data">
          <% if current_user.first_name != nil %>
            <%= link_to "Hi #{current_user.first_name}!", languages_path, :class => "navbar-user-data" %>
            <% else %>
            <%= link_to current_user.email.split('@')[0], languages_path, :class => "navbar-user-data" %>
            <% end %>
            <%= gravatar_for(current_user) %>
            <%=link_to "Logout", destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link", :method => :delete %>
          </div>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </div>
  </div>

</div>

