<div class="container">
  <h3 class="form-title">Create New Playground</h3>
  <div class="form-inputs">
    <%= simple_form_for @work_space do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br />
    <%= f.label :language %>
    <%= f.collection_select :language, Language.all, :id, :name, prompt: true, selected: "Ruby" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Create Playground" %>
  </div>
    <% end %>
</div>
