<div class="container">
  <div class="row">
    <div class="col-sm-8 code-input">
      <p class="exercise-instruction"><%= @exercise.instruction %></p>

      <textarea></textarea>
      <div class="code-btns">
        <a class="btn btn-primary btn-run" id="run-code">Run code</a>
        <a class="btn btn-success btn-help" id="code-help">Find help</a>
      </div>
      <div id="output"></div>
    </div>
    <div class="col-sm-4">
      <%= render 'shared/video_conference' %>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>

<script type="text/javascript">
  /** Excercise Area **/
  var excercise_attempt_area = $('textarea')[0];
  var myCodeMirror = CodeMirror.fromTextArea(excercise_attempt_area, {
    mode: "<%= @exercise.language.name.downcase %>",
    lineNumbers: true,
    lineWrapping: true}
    );
  myCodeMirror.getDoc().setValue(`<%= raw @value %>`);
  $("#run-code").on('click', function(event) {
    event.preventDefault();
    // $("#output").empty();
    json = {
      langId: "<%= @lang_id %>",
      code: myCodeMirror.getValue(),
      stdIn: "",
      test: `<%= raw @test %>`
    };
    $.post("http://localhost:8080/compile", json, function(data, error, xhr) {
      var server_data = data;
      console.log('output');
      console.dir(server_data);
      var syntax_message;
      var test_output_message = "";
      if (server_data.output) {
        test_output_tabs = "";
        tab_content = "";
        syntax_message = "<p class=\"output-message\">Compile message:</p><pre class=\"message-syntax-ok\">Syntax OK</pre>"
        if (server_data.output.testSuccess) {
          test_output_message = "<p class=\"message-test-success\">All tests passed. Well done!</p>"
          $.post("/exercise_submissions", {code: json.code, exercise_id: <%= @exercise.id %>}, function(data, error, xhr) {
          })
        } else {
          var failures = server_data.output.testFailures;
          var failure_word = "failure"
          if (failures.length > 1) {
            failure_word = "failures"
          }
          test_output_message = ""
          test_output_tabs = "<div class=\"test-tabs\">";
          tab_content = "";
          count = 0
          failures.forEach(function(failure) {
            count += 1;
            if (count === 1) {
              test_output_tabs += ("<a class=\"test-tab active\" data-target=\"#test" +
                count + "\"><p>" + failure.testName + "</p></a>");
              tab_content += ("<div class=\"test-tab-content\" id=\"test" + count +
                "\"><p class=\"output-message\">Your output:</p><pre>" + failure.actual + "</pre><p class=\"output-message\">Expected output:</p><pre>" +
                failure.expected + "</pre></div>");
            } else {
              test_output_tabs += ("<a class=\"test-tab\" data-target=\"#test" +
                count + "\"><p>" + failure.testName + "</p></a>");
              tab_content += ("<div class=\"test-tab-content hidden\" id=\"test" + count +
                "\"><p class=\"output-message\">Your output:</p><pre>" + failure.actual + "</pre><p class=\"output-message\">Expected output:</p><pre>" +
                failure.expected + "</pre></div>");
            }
          });
          test_output_tabs += "</div>";
        }
      } else {
        syntax_message = "<p class=\"message-syntax-error\">Compile time error. Check your syntax!</p>"
      }
      $("#output").html(
        "<div class=\"output-wrapper\"><h2>Test results</h2><div class=\"run-output\">" +
        syntax_message +
        test_output_message +
        test_output_tabs +
        tab_content +
        "</div></div>"
        );
      $(".test-tab").on("click", function(event) {
        event.preventDefault();
        // Change active tab
        $('.active').toggleClass('active')
        $(this).toggleClass('active');
        // Hide all tab-content (use class="hidden")
        $('.test-tab-content').addClass('hidden');
        // Show target tab-content (use class="hidden")
        var target = $(this).data('target');
        $(target).toggleClass('hidden');
      });
    });

  });

</script>

<% end %>
