<div class="container">
  <div class="row">
    <div class="col-sm-8 code-input">
      <p class="exercise-instruction"><%= @exercise.instruction %></p>

      <textarea id="text-editor"></textarea>
      <div class="code-btns">
        <a class="btn btn-primary btn-save" id="save-code">Save</a>
        <a class="btn btn-primary btn-run" id="run-code">Run code</a>
        <a class="btn btn-success btn-help" id="code-help">Video chat</a>
      </div>
    </div>
    <div class="col-sm-4 invite-form">
      <%= render 'shared/invite_form' %>
    </div>
    <div class="col-sm-4" id="collaborators">
    </div>
    <div class="col-sm-4">
      <%= render 'shared/video_conference' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div id="testHeader"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div id="loader"></div>
      <div id="output"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div id="progressBar"></div>
    </div>
    <div class="col-sm-1">
      <div id="passedTests"></div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
<script type="text/javascript">
  if (<%= @collaborators.length %> > 0) {
    $("#collaborators").html("<%= escape_javascript render(:partial => 'shared/collaborators') %>");
  }
</script>

<script type="text/javascript">
  var myCodeMirror = codeMirrorInit(
    '#text-editor',
    "<%= @exercise.language.name%>",
    `<%= raw @value %>`
  );
  $("#run-code").on('click', function(event) {
    event.preventDefault();
    $("#output").empty();
    $("#progressBar").empty();
    $("#passedTests").empty();
    json = {
      langId: "<%= @lang_id %>",
      code: myCodeMirror.getValue(),
      stdIn: "",
      test: `<%= raw @test %>`
    };
    showTestHeader();
    showLoadingGif();
    $.post("http://ec2-52-24-172-142.us-west-2.compute.amazonaws.com:8080/compile", json).done(function(data) {
      $("#loader").empty();
      $("#output").empty();
      $("#progressBar").empty();
      $("#passedTests").empty();
      showSyntax(data);
      showProgressBar();
      if (data.output) {
        updateProgressBar(
          calculateTestOutput(<%= @exercise.number_of_tests %>, data)
        );
        showPassedTests(<%= @exercise.number_of_tests %> - data.output.testFailures.length, <%= @exercise.number_of_tests %>)
      } else {
        showPassedTests(0, <%= @exercise.number_of_tests %>)
      }

    });
  });

</script>

<script>
  $("#save-code").on("click", function(event) {
    event.preventDefault();
    $.ajax({
      url: '/exercise_work_spaces/<%= @workspace.id %>',
      type: 'PUT',
      data: {code: myCodeMirror.getValue()},
      success: function(data) {
      }
    });
  })
</script>

<script>

var delay = (function(){
  var timer = 0;
  return function(callback, ms){
    clearTimeout (timer);
    timer = setTimeout(callback, ms);
  };
})();

myCodeMirror.on('keyup', function() {
  delay(function(){
    $.ajax({
      url: '/exercise_work_spaces/<%= @workspace.id %>',
      type: 'PUT',
      data: {code: myCodeMirror.getValue()},
      success: function(data) {}
      });
    }, 1000 );
});


</script>


<% end %>
