<% @language = @workspace.language.name %>
<% @userCode = @workspace.user_code %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 code-input">
      <textarea id="code-editor"></textarea>
      <div class="code-btns">
        <a class="btn btn-primary btn-run" id="run-code">Run code</a>
        <a class="btn btn-success btn-help" id="code-help">Find help</a>
      </div>
      <div id="output"></div>
    </div>
    <div class="col-sm-4">
     <!-- <%= render 'shared/video_conference' %> -->
    </div>
  </div>
</div>

<% content_for(:after_js) do %>

<script type="text/javascript">

  // Initialize text editor
  var myCodeMirror = codeMirrorInit('#code-editor', "Ruby", `<%= raw @userCode %>`);

  // When the run-code button is clicked, send code to compile to the API
  $("#run-code").on('click', function(event) {
    event.preventDefault();
    // Data to send to the API
    code_data = {
      language: "<%= @language %>",
      code: myCodeMirror.getValue()
    };
    // Send a POST request to the API
    $.post(apiUrl, code_data)
      .done(function(data) {
        showCodeOutput(data);
    });

  });

</script>


<script>
  $("#save-code").on("click", function(event) {
    event.preventDefault();
    $.ajax({
      url: '/exercise_work_spaces/<%= @workspace.id %>',
      type: 'PUT',
      data: {code: myCodeMirror.getValue()},
      success: function(data) {
      }
    });
  })
</script>

<script>

var delay = (function(){
  var timer = 0;
  return function(callback, ms){
    clearTimeout (timer);
    timer = setTimeout(callback, ms);
  };
})();

myCodeMirror.on('keyup', function() {
  delay(function(){
    $.ajax({
      url: '/exercise_work_spaces/<%= @workspace.id %>',
      type: 'PUT',
      data: {code: myCodeMirror.getValue()},
      success: function(data) {}
      });
    }, 1000 );
});


</script>


<% end %>
