<h1><%= @exercise.title %></h1>
<p><%= @exercise.instruction %></p>

<textarea></textarea>
<a>Run code</a>



<% content_for(:after_js) do %>


<script type="text/javascript">
  /** Excercise Area **/
  var excercise_attempt_area = $('textarea')[0];
  var exerciseArea = CodeMirror.fromTextArea(excercise_attempt_area, {
    mode: "<%= @exercise.language.name.downcase %>",
    lineNumbers: true,
    lineWrapping: true}
    );
  exerciseArea.getDoc().setValue(`<%= @value %>`);
  $('a').on('click', function() {
    console.log(exerciseArea.getValue());
  });
  console.log("<%= @exercise.language.name.downcase %>")
</script>
<% end %>

<!-- added text area to display contents of test file if exists -->
<textarea id="test-code" style="width: 1024px; height: 1024px;"><%= @exercise.exercise_files.first.content if @exercise.exercise_files.first %></textarea>
