<h1><%= @exercise.title %></h1>
<p><%= @exercise.instruction %></p>
<textarea></textarea>
<a>Run code</a>
<% content_for(:after_js) do %>
<script type="text/javascript">
  var textarea = $('textarea')[0];
  var myCodeMirror = CodeMirror.fromTextArea(textarea, {
    mode: "<%= @exercise.language.name.downcase %>",
    lineNumbers: true,
    lineWrapping: true}
  );
  myCodeMirror.getDoc().setValue(`<%= @value %>`);
  $('a').on('click', function() {
    console.log(myCodeMirror.getValue());
  });
  $('a').on('click', function(event) {
    event.preventDefault();
    json = {
      langId: "<%= @lang_id %>",
      code: myCodeMirror.getValue(),
      stdIn: "",
      test: `<%= @test %>`
    };
    $.post("http://localhost:8080/compile", json, function(data, error, xhr) {
        console.log('the output of the server' + data.code);
    });
  });
</script>
<% end %>
