<h1><%= @exercise.title %></h1>
<p><%= @exercise.instruction %></p>

<textarea></textarea>
<a>Run code</a>
<% content_for(:after_js) do %>


<script type="text/javascript">
  /** Excercise Area **/
  var excercise_attempt_area = $('textarea')[0];
  var myCodeMirror = CodeMirror.fromTextArea(excercise_attempt_area, {
    mode: "<%= @exercise.language.name.downcase %>",
    lineNumbers: true,
    lineWrapping: true}
  );
  myCodeMirror.getDoc().setValue(`<%= raw @value %>`);
  $('a').on('click', function(event) {
    event.preventDefault();
    json = {
      langId: "<%= @lang_id %>",
      code: myCodeMirror.getValue(),
      stdIn: "",
      test: `<%= raw @test %>`
    };
    $.post("http://localhost:8080/compile", json, function(data, error, xhr) {
        console.log('the output of the server' + data.output);
    });
  });
</script>

<% end %>
